<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Salazar Home Dashboard</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
  <div class="container-fluid">
    <!--Grocery List -->
    <div class="row">
      <div class="col">
        <!-- row 1 -->
        <div class="row">
          <!-- left column -->
          <div class="col-6">
            <div class="row">
              <div class="col">
                <h5 class="text-center">Grocery List</h5>
                <div class="card">
                  <ul class="list-group" id="grocery-list">
                    <!-- <li class="list-group-item">Item C <button>Bought</button><button>Remove</button></li> -->
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col d-flex justify-content-center py-2">
                <button id="grocery-bought" class="btn btn-warning mx-1" disabled>Bought</button>
                <button id="grocery-remove" class="btn btn-secondary mx-1" disabled>Remove</button>
              </div>
            </div>
          </div>
          <!-- left column -->
          <!-- right column -->
          <div class="col-6 text-center my-auto">
            <h5>Add to Grocery List</h5>
            <input type="text" id="grocery-input" placeholder="Sugar, Milk, etc...">
            <button id="grocery-add">Add</button><button id="grocery-clear">Clear</button>
          </div>
          <!-- right column -->
        </div>
        <!-- row 1 -->

        <!-- row 2 -->
        <div class="row">
          <div class="col d-flex justify-content-center">
            <button id="grocery-save" class="btn btn-success mx-1" disabled>Save</button>
            <button id="grocery-reset" class="btn btn-danger mx-1">Reset</button>
          </div>
        </div>
        <!-- row 2 -->
      </div>
    </div>
    <!--Grocery List -->

    <!-- questions -->
    <div class="row">
      <div class="col">
        <h1>FAQ and Notes</h1>
        <div class="row">
          <div class="col">
            <h3>Bought and Remove</h3>
            <p>Selecting items <button class="btn btn-warning">Bought</button> will notify your household the items were
              purchased and can expect them at the house.</p>
            <p>Selecting items as <button class="btn btn-secondary" disabled>Remove</button> will remove the item from
              the list. Use this if an item was accidentally added to the list.</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h3>Save and Reset</h3>
            <p><button class="btn btn-success">Save</button> saves any changes made to the grocery list. Hit 'Save' when
              you are finished adding items, buying and removine items.</p>
            <p><button class="btn btn-danger">Reset</button> is used to undo any changes made to the list. Hit 'Reset'
              when a change was made by accident.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- questions -->
  </div>
</body>
<script src="index.js"></script>
<script src="grocerylist.js"></script>

</html>